.box{
    height: 500px;
    max-width: 850px;
    /* display: inline-block; */
}
.container{
    text-align: center;
    display: inline-block;
    width: 50%;
   float: left;

}
/* .container2{
    width: 50%;
} */
.container2 ul{
    float:right;
    position: relative;
    list-style: none;
    top: 20px;
    justify-content: space-between;
}
.container2 ul li{
    float: left;
    /* align-items: center; */

}
.container2 ul li a{
    text-decoration: none;
    justify-content: space-between;
}